.main {
  font-size: 13px;
  font-family: arial, sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;

}

.container {
  float: right;
  margin-right: 27px;
  margin-bottom: 2px;
  margin-left: 2px;
}

li {
  display: inline;
  padding-right: 12px;
  width: 220px;
}

#apps {
  width: 25px;
  opacity: .6;
}

.button {
  background: #4683ea;
  color: #fff;
  text-decoration: none;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
}

ul a {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 272px;
  height: 92px;
}

#bar {
  width: 503px;
  height: 34px;
  line-height: 24px;
}

#voice {
  width: 25px;
}

.footera {
  display: inline;
  float: left;
  margin-top: 460px;
  margin-left: -10px;

}

.footerb {
  display: inline;
  float: right;
  margin-top: 460px;
  margin-right: 20px;

}
